<% if logged_in? %>
  <div class="section">
    <div class="row">
      <div class="col l3">
        <%= render 'shared/user_info' %>
        <%= render 'shared/micropost_log' %>
      </div>
      <div class="col l6">
        <%= render 'shared/goal_card' %>
        <%= render 'shared/micropost_form' %>
      </div>
      <div class="col l3">
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>
  <%= render :template => 'sessions/new' %>
<% end %>

<script>
  $('label').addClass('active');
</script>