<% if logged_in? %>
<div class="row center">
  <div class="col l8 offset-l2">
    <% flash.each do |message_type, message| %>
      <h5><%= content_tag(:div, message, class: "alert alert-#{message_type}") %></h5>
    <% end %>
  </div>
</div>
  <div class="section">
    <div class="row">
      <div class="col l3">
        <%= render 'shared/user_info' %>
        <%= render 'shared/micropost_log' %>
      </div>
      <div class="col l6">
        <%= render 'shared/micropost_form' %>
      </div>
      <div class="col l3">
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>
  <%= render :template => 'sessions/new' %>
<% end %>