<% provide(:title, "Log in") %>
<div class="container">
  <div class="row center">
    <h1>Welcome!</h1>
  </div>

  <%= form_for(:session, url: login_path) do |f| %>
    <div class="row">
      <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
        <%= f.email_field :email, class: "validate" %>
        <%= f.label :email %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
        <%= f.password_field :password, class: 'validate' %>
        <%= f.label :password %>
      </div>
    </div>

    <div class="row center">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>

    <div class="row center">
      <%= f.submit "Log in", class: "btn waves-effect waves-light" %>
    </div>

    <div class="row center">
      New User? <strong><%= link_to "Sign up now!", signup_path %></strong>
    </div>
  <% end %>
</div>