<% provide(:title, "Login") %>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card hoverable cyan darken-4">
          <div class="card-content">
            <div class="card-title white-text">
              <h4>Login</h4>
            </div>
            <div class="white">
              <div class="row center">
                <div class="col l10 offset-l1">
                  <% flash.each do |message_type, message| %>
                    <h5><%= content_tag(:div, message, class: "alert alert-#{message_type}") %></h5>
                  <% end %>
                </div>
              </div>
              <%= form_for(:session, url: login_path) do |f| %>
                <br>
                <div class="row">
                  <div class="input-field col l10 offset-l1">
                    <i id="email-icon" class="material-icons prefix">email</i>
                    <%= f.email_field :email, id: "email-input" %>
                    <%= f.label :email %>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col l10 offset-l1 active">
                    <i id="password-icon" class="material-icons prefix">lock_outline</i>
                    <%= f.password_field :password, :autocomplete => :off, id: "password-input" %>
                    <%= f.label :password %>
                  </div>
                </div>
                <div class="row center">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
                <div class="row center">
                  <%= button_tag(:class => "waves-effect waves-light btn green darken-1") do %>
                    Login <i class="material-icons right">send</i>
                  <% end %>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <div class="row center">
                    New User? <strong><%= link_to "Sign up now!", signup_path %></strong>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $('label').addClass('active');
</script>