<%= form_for(@user) do |f| %>
  <div class="row center">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <%= render 'shared/error_messages', object: f.object %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
      <%= f.text_field :name, class: 'validate' %>
      <%= f.label :name %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
      <%= f.email_field :email, class: 'validate' %>
      <%= f.label :email %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
      <%= f.password_field :password, class: 'validate' %>
      <%= f.label :password %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
      <%= f.password_field :password_confirmation, class: 'validate' %>
      <%= f.label :password_confirmation %>
    </div>
  </div>

  <%= f.submit yield(:button_text), class: "btn waves-effect waves-light" %>

<% end %>