<li class="white-text">
  <h5><%= link_to user.name, user, class: "indigo-text text-darken-4" %></h5>
  <% if user.microposts.any? %>
  	<p>
	  	<strong>Latest log:</strong>
	  	<i>"<%= user.microposts.first.title %>"</i>, posted <%= time_ago_in_words(user.microposts.first.created_at) %> ago.
	  	<p>(time: <%= user.microposts.first.hours %> hours and <%= user.microposts.first.minutes %> minutes)</p>
	 </p>
  <% else %>
  	<p><i>no writing logs have been submitted</i></p>
  <% end %>
  <br>
  <div class="divider"></div>
</li>