<% provide(:title, @user.name) %>
<div class="section">
  <div class="row">
    <div class="col l4">
      <div class="card hoverable">
        <div id="user-info-card-profile" class="card-content">
          <span class="card-title white-text"><h4><%= @user.name %></h4></span>
          <div class="divider"></div>
          <% if current_user?(@user) %>
            <%= link_to "Update Profile", edit_user_path(current_user), class: "indigo-text text-darken-4" %>
          <% end %>
        </div>
      </div>
      <div class="card hoverable">
        <div class="card-content blue darken-1 white-text">
          <span class="card-title"><h5>Log Record</h5></span>
          (submitted <%= pluralize(@user.microposts.count, "writing log") %>)
          <div class="divider"></div>
          <% if @user.microposts.any? %>
            <ul>
              <%= render @microposts %>
            </ul>
            <div class="white"><%= will_paginate @microposts %></div>
          <% else %>
            <i>no writing logs have been submitted</i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col l8">
      <%= render 'shared/user_goal_card' %>
      <div class="card hoverable">
        <div class="card-content green darken-3">
          <span class="card-title white-text"><h5 id="weekly-log-time-header"></h5></span>
          <div class="divider"></div>
          <br>
          <div id="weekly-log-time" style="width: 100%; height: 350px"></div>
        </div>
      </div>
      <div class="card hoverable">
        <div class="card-content cyan darken-3">
          <span class="card-title white-text"><h5>Total Log Time</h5></span>
          <div class="divider"></div>
          <br>
          <div id="total-log-time" style="width: 100%; height: 350px"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:header) do %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<% end %>

<script>
  function checkAssets() {
    if (typeof google !== "undefined") {
      fetchWeeklyTimeData();
    }
    else {
      setTimeout(checkAssets, 250);
    }
  }

  checkAssets();

  function fetchWeeklyTimeData() {
    $.ajax({
      type: "GET",
      url: "/user_weekly_microposts_json",
      dataType: "json",
      data: {
        id: <%= @user.id %>
      },
      success: function(response){
        responseData2 = response;
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawWeeklyTimeChart);
      }        
    });
  }

  function drawWeeklyTimeChart() {
    var todayDate = new Date();
    var startDay = todayDate.getDate();
    startDay = startDay.toString();
    if (startDay.length == 1) {
      startDay = "0" + startDay;
    }
    var startMonth = todayDate.getMonth() + 1;
    var startYear = todayDate.getFullYear();
    var startDate = startMonth + "/" + startDay + "/" + startYear;
    var sevenAgo = new Date(todayDate.getTime() - (6 * 24 * 60 * 60 * 1000));
    var endDay = sevenAgo.getDate();
    endDay = endDay.toString();
    if (endDay.length == 1) {
      endDay = "0" + endDay;
    }
    var endMonth = sevenAgo.getMonth() + 1;
    var endYear = sevenAgo.getFullYear();
    var endDate = endMonth + "/" + endDay + "/" + endYear;

    $("#weekly-log-time-header").text("Weekly Log Time (" + endDate + " - " + startDate + ")");

    var weekday = new Array(7);
    weekday[0] =  "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";

    var today = new Date();
    var today = weekday[today.getDay()];

    var adjustedWeekday = [today];
    var index = weekday.indexOf(today);
    for (i = index; i > -1; i--) {
      if (weekday[i] != today) {
        adjustedWeekday.unshift(weekday[i]);
      }
    }

    for (j = 6; j > -1; j--) {
      if ($.inArray(weekday[j], adjustedWeekday) == -1) {
        adjustedWeekday.unshift(weekday[j]);
      }
    }

    var visData2 = [];
    $.each(responseData2.reverse(), function(key, value) {
      var fullDate = new Date(value.created_at);
      var date = weekday[fullDate.getDay()]
      var time = Math.round((value.hours * 60) + (value.minutes));
      visData2.push([date, time]);
    });

    var uniqueDays = [];
    $.each(visData2, function(key, value) {
      if ($.inArray(value[0], uniqueDays) == -1) {
        uniqueDays.push(value[0]);
      }
    });

    var visDataFinal2 = [['Day', 'Time', {role: 'style'}]]
    $.each(adjustedWeekday, function(key, value) {
      var tempTime = 0;
      $.each(visData2, function(key2, value2) {
        if (value == value2[0]) {
          tempTime = tempTime + value2[1];
        }
      });
      visDataFinal2.push([value, Number(tempTime), '']);
    });

    visDataFinal2[7][2] = 'opacity: 0.5; stroke-color: blue; stroke-width: 4';

    var data2 = google.visualization.arrayToDataTable(visDataFinal2);

    var options2 = {
      hAxis: {title: 'Day'},
      vAxis: {
        title: 'Minutes',
        viewWindow: {
          min: 0
        }
      },
      seriesType: 'bars',
      legend: { position: 'right' },
    };

    var chart2 = new google.visualization.ColumnChart(document.getElementById('weekly-log-time'));
    chart2.draw(data2, options2);

    fetchTotalTimeChart();
  }

  function fetchTotalTimeChart() {
    $.ajax({
      type: "GET",
      url: "/user_microposts_json",
      dataType: "json",
      data: {
        id: <%= @user.id %>
      },
      success: function(response){
        responseData1 = response;
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawTotalTimeChart);
      }        
    });
  }

  function drawTotalTimeChart() {
    var visData1 = [];
    $.each(responseData1.reverse(), function(key, value) {
      var fullDate = new Date(value.created_at);
      var day = fullDate.getDate();
      day = day.toString();
      if (day.length == 1) {
        day = "0" + day;
      }
      var month = fullDate.getMonth() + 1;
      var year = fullDate.getFullYear();
      var date = month + "/" + day + "/" + year;
      var time = Math.round((value.hours * 60) + (value.minutes));
      visData1.push([date, time]);
    });

    var uniqueDates1 = [];
    $.each(visData1, function(key, value) {
      if ($.inArray(value[0], uniqueDates1) == -1) {
        uniqueDates1.push(value[0]);
      }
    });

    var visDataFinal1 = [['Date', 'Time']]
    $.each(uniqueDates1, function(key, value) {
      var tempTime = 0;
      $.each(visData1, function(key2, value2) {
        if (value == value2[0]) {
          tempTime = tempTime + value2[1];
        }
      });
      visDataFinal1.push([value, tempTime]);
    });

    var data1 = google.visualization.arrayToDataTable(visDataFinal1);

    var options1 = {
      curveType: 'function',
      legend: { position: 'right' },
      vAxis: {
        title: "Minutes",
        viewWindow: {
          min: 0
        }
      },
      hAxis: {
        title: "Date"
      },
      pointSize: 10
    };

    var chart1 = new google.visualization.LineChart(document.getElementById('total-log-time'));
    chart1.draw(data1, options1);
  }

</script>