<% provide(:title, @user.name) %>
<div class="section">
  <div class="row">
    <div class="col l4">
      <div class="card hoverable">
        <div id="user-info-card-profile" class="card-content">
          <span class="card-title"><h4><%= @user.name %></h4></span>
          <div class="divider"></div>
          <% if current_user?(@user) %>
            <%= link_to "Update Profile", edit_user_path(current_user) %>
          <% end %>
          <%= @user.password %>
        </div>
      </div>
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title"><h5>Log Record</h5></span>
          (submitted <%= pluralize(@user.microposts.count, "writing log") %>)
          <div class="divider"></div>
          <% if @user.microposts.any? %>
            <ul>
              <%= render @microposts %>
            </ul>
            <%= will_paginate @microposts %>
          <% else %>
            <i>no writing logs have been submitted</i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col l8">
      <%= render 'shared/user_goal_card' %>
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title"><h5 id="weekly-log-time-header"></h5></span>
          <div class="divider"></div>
          <br>

          <div id="weekly-preloader-slot">
            <div class="row center">
              <div class="preloader-wrapper big active hidden">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
                <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
                <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="weekly-log-time"></div>
        </div>
      </div>

      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title"><h5>Total Log Time</h5></span>
          <div class="divider"></div>
          <br>

          <div id="total-preloader-slot">
            <div class="row center">
              <div class="preloader-wrapper big active hidden">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
                <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
                <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="total-log-time"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:header) do %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<% end %>

<script>
  // wait until Google Visualizations has loaded
  function checkAssets() {
    if (typeof google !== "undefined") {
      fetchWeeklyTimeData();
    }
    else {
      setTimeout(checkAssets, 250);
    }
  }

  checkAssets();

  // get microposts data for past 7 days
  function fetchWeeklyTimeData() {
    $.ajax({
      type: "GET",
      url: "/user_weekly_microposts_json",
      dataType: "json",
      data: {
        id: <%= @user.id %>
      },
      success: function(response){
        weeklyData = response;
        if (weeklyData.length < 1) {
          $("#weekly-log-time").html("<div class='section red-text'><i>Insufficient data for visualization</i></div>");
          $("#weekly-log-time-header").text("Weekly Log Time");
          $("#weekly-preloader-slot").addClass("hidden");
          fetchTotalTimeChart();
          return(0);
        }
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawWeeklyTimeChart);
      }        
    });
  }

  function drawWeeklyTimeChart() {
    // format readable date range for card header
    var todayDate = new Date();
    var startDay = todayDate.getDate();
    startDay = startDay.toString();
    if (startDay.length == 1) {
      startDay = "0" + startDay;
    }
    var startMonth = todayDate.getMonth() + 1;
    var startYear = todayDate.getFullYear();
    var startDate = startMonth + "/" + startDay + "/" + startYear;

    var sevenAgo = new Date(todayDate.getTime() - (6 * 24 * 60 * 60 * 1000));
    var endDay = sevenAgo.getDate();
    endDay = endDay.toString();
    if (endDay.length == 1) {
      endDay = "0" + endDay;
    }
    var endMonth = sevenAgo.getMonth() + 1;
    var endYear = sevenAgo.getFullYear();
    var endDate = endMonth + "/" + endDay + "/" + endYear;

    $("#weekly-log-time-header").text("Weekly Log Time (" + endDate + " - " + startDate + ")");

    // map days to digits
    var weekday = new Array(7);
    weekday[0] =  "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";

    var today = new Date();
    var today = weekday[today.getDay()];

    // sort the days so current day right-most, and left-most is 7 days ago
    var adjustedWeekday = [today];
    var index = weekday.indexOf(today);
    for (i = index; i > -1; i--) {
      if (weekday[i] != today) {
        adjustedWeekday.unshift(weekday[i]);
      }
    }

    for (j = 6; j > -1; j--) {
      if ($.inArray(weekday[j], adjustedWeekday) == -1) {
        adjustedWeekday.unshift(weekday[j]);
      }
    }

    // calculate total writing time for each day
    var visData = [];
    $.each(weeklyData.reverse(), function(key, value) {
      var fullDate = new Date(value.created_at);
      var date = weekday[fullDate.getDay()]
      var time = Math.round((value.hours * 60) + (value.minutes));
      visData.push([date, time]);
    });

    // get all unique days
    var uniqueDays = [];
    $.each(visData, function(key, value) {
      if ($.inArray(value[0], uniqueDays) == -1) {
        uniqueDays.push(value[0]);
      }
    });

    // build final table for visualization
    // aggregate logs posted on the same day
    var visDataFinal = [['Day', 'Time', {role: 'style'}]]
    $.each(adjustedWeekday, function(key, value) {
      var tempTime = 0;
      $.each(visData, function(key2, value2) {
        if (value == value2[0]) {
          tempTime = tempTime + value2[1];
        }
      });
      visDataFinal.push([value, Number(tempTime), '']);
    });

    // special styling for current day (right-most)
    visDataFinal[7][2] = 'opacity: 0.5; stroke-color: blue; stroke-width: 4';

    // prep visualization
    var data = google.visualization.arrayToDataTable(visDataFinal);

    var options = {
      hAxis: {title: 'Day'},
      vAxis: {
        title: 'Minutes',
        viewWindow: {
          min: 0
        }
      },
      seriesType: 'bars',
      legend: { position: 'right' },
    };

    // draw final visualization
    var chart = new google.visualization.ColumnChart(document.getElementById('weekly-log-time'));
    $("#weekly-preloader-slot").addClass("hidden");
    $("#weekly-log-time").css("height", "350px");
    $("#weekly-log-time").css("width", "100%");
    chart.draw(data, options);

    fetchTotalTimeChart();
  }

  function fetchTotalTimeChart() {
    $.ajax({
      type: "GET",
      url: "/user_microposts_json",
      dataType: "json",
      data: {
        id: <%= @user.id %>
      },
      success: function(response){
        totalData = response;
        if (totalData.length < 1) {
          $("#total-log-time").html("<div class='section red-text'><i>Insufficient data for visualization</i></div>");
          $("#total-preloader-slot").addClass("hidden");
          return(0);
        }
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawTotalTimeChart);
      }        
    });
  }

  function drawTotalTimeChart() {
    var visData = [];
    // format readable dates for y-axis
    $.each(totalData.reverse(), function(key, value) {
      var fullDate = new Date(value.created_at);
      var day = fullDate.getDate();
      day = day.toString();
      if (day.length == 1) {
        day = "0" + day;
      }
      var month = fullDate.getMonth() + 1;
      var year = fullDate.getFullYear();
      var date = month + "/" + day + "/" + year;
      var time = Math.round((value.hours * 60) + (value.minutes));
      visData.push([date, time]);
    });

    // get all unique dates
    var uniqueDates = [];
    $.each(visData, function(key, value) {
      if ($.inArray(value[0], uniqueDates) == -1) {
        uniqueDates.push(value[0]);
      }
    });

    // build final table for visualization
    // aggregate logs posted on the same day
    var visDataFinal = [['Date', 'Time']]
    $.each(uniqueDates, function(key, value) {
      var tempTime = 0;
      $.each(visData, function(key2, value2) {
        if (value == value2[0]) {
          tempTime = tempTime + value2[1];
        }
      });
      visDataFinal.push([value, tempTime]);
    });

    // prep visualization
    var data = google.visualization.arrayToDataTable(visDataFinal);

    var options = {
      curveType: 'function',
      legend: { position: 'right' },
      vAxis: {
        title: "Minutes",
        viewWindow: {
          min: 0
        }
      },
      hAxis: {
        title: "Date"
      },
      pointSize: 10
    };

    // draw final visualization
    var chart = new google.visualization.LineChart(document.getElementById('total-log-time'));
    $("#total-preloader-slot").addClass("hidden");
    $("#total-log-time").css("height", "350px");
    $("#total-log-time").css("width", "100%");
    chart.draw(data, options);
  }
</script>