<% provide(:title, @user.name) %>
<div class="container">
  <div class="section">
    <div class="row">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
          (<%= @user.microposts.count %> logs)
        </h1>
        <div class="divider"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <% if @user.microposts.any? %>
      <ul>
        <%= render @microposts %>
      </ul>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

