<div class="card hoverable">
	<div class="card-content">
		<span class="card-title"><h5>Writing Goals</h5></span>
		<div class="divider"></div>
		<br>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header active">
					<strong><i class="material-icons">access_time</i>Active Goals</strong>
				</div>
				<div class="collapsible-body white">
					<% if @active_goals_feed.any? %>
			  		<ul>
			    		<%= render @active_goals_feed %>
			  		</ul>
			  		<div class="section">
			  			<%= will_paginate @active_goals_feed, param_name: :active_goal_feed_page  %>
			  		</div>
			  	<% else %>
			  		<div class="container">
			  			<div class="section">
			        	<i>no new writing-goals have been submitted</i>
			        </div>
			      </div>
					<% end %>
				</div>
			</li>
			<li>
				<div class="collapsible-header">
					<strong><i class="material-icons">add_circle_outline</i>Set New Goal</strong>
				</div>
				<div class="collapsible-body white">
					<div class="container">
						<div id="goal-errors" class="row center hidden">
							<div class="card-panel red lighten-5">
								<span class="red-text text-darken-4">
									The form contains errors:
									<ul id="goal-error-list"></ul>
								</span>
							</div>
						</div>
						<br>
					</div>
					<div class="section">
						<div class="row">
							<div class="col l10 offset-l1">
								<div class="input-field">
									<input id="goal-description" type="text" class="validate">
									<label for="goal-description">Description <span class="red-text">*</span></label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col l10 offset-l1">
								<div class="input-field">
									<input id="goal-deadline" type="date" class="datepicker">
									<label for="goal-deadline">Deadline <span class="red-text">*</span></label>
								</div>
							</div>
						</div>
						<div class="row center">
							<a id="submit-goal" class="waves-effect waves-light btn green darken-1">
								Save <i class="material-icons right">send</i>
							</a>
			    	</div>
					</div>
				</div>
			</li>
			<li>
				<div class="collapsible-header">
					<strong><i class="material-icons">done_all</i>Achieved Goals</strong>
				</div>
				<div class="collapsible-body white">
					<% if @inactive_goals_feed.any? %>
			  		<ul>
			    		<%= render @inactive_goals_feed %>
			  		</ul>
			  		<div class="section">
			  			<%= will_paginate @inactive_goals_feed, param_name: :inactive_goal_feed_page %>
			  		</div>
			  	<% else %>
			  		<div class="container">
			  			<div class="section">
			        	<i>no writing-goals have been achieved</i>
			        </div>
			      </div>
					<% end %>
				</div>
			</li>
		</ul>
	</div>
</div>

<script>

	function deliverGoalErrors() {
		var errors = "";

		if ($("#goal-description").val() === "") {
			errors = errors + "<li>* Description can't be blank</li>";
			$("#goal-description").addClass("invalid");
		}
		if ($("#goal-deadline").val() === "") {
			errors = errors + "<li>* Deadline can't be blank</li>";
		}

		if (errors != "") {
			$("#goal-error-list").html(errors);
			$("#goal-errors").removeClass("hidden");
			return(true);
		}
		else {
			$("#goal-errors").addClass("hidden");
			return(false);
		}
	}
	
  $("#submit-goal").click(function() {
  	// check that input is valid, break if not
  	if (deliverGoalErrors() === true) {
  		return(0);
  	}

  	$.ajax({
	    url: "/goals",
	    type: "POST",
	    data: {
	      goal: {
	        user_id: "<%= current_user.id %>",
	        description: $("#goal-description").val(),
	        deadline: $("#goal-deadline").val()
	      }
	    }
	  });
  });
</script>