<li id="micropost-<%= micropost.id %>">
  <div class="row">
    <div class="col l11">
      <p>
        <strong><%= micropost.author %></strong>
        posted <%= time_ago_in_words(micropost.created_at) %> ago.
      </p>
    </div>
    <% if current_user?(micropost.user) || current_user.admin == true %>
      <div class="col l1">
        <a class="dropdown-button red-text" href="#" data-activates='micropost-delete-dropdown-<%= micropost.id %>'>X</a>
        <ul id="micropost-delete-dropdown-<%= micropost.id %>" class="dropdown-content">
          <li>
            <a id="delete-<%= micropost.id %>" href="#" class="red-text">
              delete<i class="material-icons">remove_circle_outline</i>
            </a>  
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <p class="truncate">"<%= micropost.title %>"</p>
  <p>(time: <%= micropost.hours %> hours and <%= micropost.minutes %> minutes)</p>
  <div class="divider"></div>
</li>
<br>

<script>
  
  $("#delete-<%= micropost.id %>").click(function() {
    console.log("<%= micropost.user_id %>")
    $.ajax({
      url: "/microposts",
      type: "DELETE",
      data: {
        id: <%= micropost.id %>,
        user_id: <%= micropost.user_id %>
      }
    });
  });
</script>