<li id="micropost-<%= micropost.id %>">
  <p>
    <strong><%= micropost.author %></strong>
    posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </p>
  <p class="truncate">"<%= micropost.title %>"</p>
  <p>(time: <%= micropost.hours %> hours and <%= micropost.minutes %> minutes)</p>
  <div class="divider"></div>
</li>
<br>

<script>
  $("#delete-<%= micropost.id %>").click(function() {
    $.ajax({
      url: "/microposts",
      type: "DELETE",
      data: {
        id: <%= micropost.id %>
      }
    });
  });
</script>