<li>
	<br>
	<% if current_user?(goal.user) || current_user.admin == true %>
		<% if goal.active %>
			<div class="row">
				<div class="col l7 offset-l1">
					<span class="truncate"><strong><%= goal.description %></strong></span>
					<span id="date-<%= goal.id %>"></span>
				</div>
				<div class="col l3">
					<a id="achieved-<%= goal.id %>" class="green-text text-darken-4"><u>Mark Achieved</u></a>
				</div>
				<div class="col l1">
					<a class="dropdown-button red-text" href="#" data-activates='goal-delete-dropdown-<%= goal.id %>'>X</a>
				  <ul id="goal-delete-dropdown-<%= goal.id %>" class="dropdown-content">
				  	<li>
				  		<a id="delete-<%= goal.id %>" class="waves-effect waves-red btn-flat red-text">delete</a>
				  	</li>
				  </ul>
				</div>
		  </div>
		<% else %>
			<div class="row">
				<div class="col l10 offset-l1">
					<span class="truncate"><strong><%= goal.description %></strong></span>
					<span id="date-<%= goal.id %>"></span>
				</div>
				<div class="col l1">
					<a class="dropdown-button red-text" href="#" data-activates='goal-delete-dropdown-<%= goal.id %>'>X</a>
				  <ul id="goal-delete-dropdown-<%= goal.id %>" class="dropdown-content">
				  	<li>
				  		<a id="delete-<%= goal.id %>" class="waves-effect waves-red btn-flat red-text">delete</a>
				  	</li>
				  </ul>
				</div>
			</div>
		<% end %>
	<% else %>
		<div class="row">
			<div class="col l10 offset-l1">
				<span class="truncate"><strong><%= goal.description %></strong></span>
				<span id="date-<%= goal.id %>"></span>
			</div>
		</div>
	<% end %>
  <div class="divider"></div>
</li>

<script>
	// format deadline text
	var goalDate = new Date("<%= goal.deadline %>");
	var goalMonth = (goalDate.getMonth()+1).toString();
	if (goalMonth.length == 1) {
		goalMonth = "0" + goalMonth;
	}
	var goalDay = goalDate.getDate().toString();
  if (goalDay.length == 1) {
    goalDay = "0" + goalDay;
  }
  $("#date-<%= goal.id %>").html("(Deadline: "+goalMonth+"/"+goalDay+"/"+goalDate.getFullYear()+")");

	$("#achieved-<%= goal.id %>").click(function() {
		$.ajax({
	    url: "/goals",
	    type: "PATCH",
	    data: {
	      id: <%= goal.id %>
	    }
	  });
	});

	$("#delete-<%= goal.id %>").click(function() {
		$.ajax({
	    url: "/goals",
	    type: "DELETE",
	    data: {
	      id: <%= goal.id %>
	    }
	  });
	});
</script>