<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.dropdown-button').dropdown({});

        $("#stopwatch-button").click(function() {
          $("#clock-type-wrapper").toggleClass("hidden");
          $("#stopwatch-wrapper").toggleClass("hidden");
        });

        finalTime1 = [];

        clock1 = new FlipClock($('#clock1'), {
          autoStart: false,
          callbacks: {
            start: () => {
              timeStarted1 = new Date();
            },
            stop: () => {
              timeStopped1 = new Date();
              finalTime1.push(timeStopped1 - timeStarted1);
            }
          }
        });

        $("#stopwatch-start").click(function() {
          clock1.start(function() {});
          $("#stopwatch-form-wrapper").toggleClass("hidden");
          $("#stopwatch-start-wrapper").toggleClass("hidden");
          $("#stopwatch-pause-wrapper").toggleClass("hidden");
        });

        $("#stopwatch-pause").click(function() {
          clock1.stop(function() {});
          $("#stopwatch-form-wrapper").toggleClass("hidden");
          $("#stopwatch-pause-wrapper").toggleClass("hidden");
          $("#stopwatch-resume-wrapper").toggleClass("hidden");
        });

        $("#stopwatch-resume").click(function() {
          clock1.start(function() {});
          $("#stopwatch-form-wrapper").toggleClass("hidden");
          $("#stopwatch-resume-wrapper").toggleClass("hidden");
          $("#stopwatch-pause-wrapper").toggleClass("hidden");
        });

        $("#stopwatch-form-post").click(function() {
          clock1.stop(function() {});

          if($("#stopwatch-form-title").val() === "") {
            $("#stopwatch-custom-error").toggleClass("hidden");
            $("#stopwatch-form-wrapper").toggleClass("hidden");
            $("#stopwatch-pause-wrapper").toggleClass("hidden");
            $("#stopwatch-resume-wrapper").toggleClass("hidden");
          }
          
          totalTime1 = 0;
          $.each(finalTime1, function(index, value) {
            totalTime1 = totalTime1 + value;
          });

          seconds1 = Math.round((totalTime1/1000)%60)
          minutes1 = Math.round((totalTime1/(1000*60))%60)
          hours1 = Math.round((totalTime1/(1000*60*60))%24)

          $.ajax({
            url: "/microposts",
            type: "POST",
            data: {
              micropost: {
                title: $("#stopwatch-form-title").val(),
                author: "<%= current_user.name %>",
                hours: hours1,
                minutes: minutes1,
                seconds: seconds1
              }
            }
          });
        });

        $("#timer-button").click(function() {
          $("#clock-type-wrapper").toggleClass("hidden");
          $("#timer-wrapper").toggleClass("hidden");
        });

        $("#timer-value-set").click(function() {
          $("#timer-value-wrapper").toggleClass("hidden");
          $("#timer-clock-wrapper").toggleClass("hidden");

          timerHours = Number($("#timer-value-hours").val());
          timerMinutes = Number($("#timer-value-minutes").val());
          timerSeconds = Number($("#timer-value-seconds").val());

          timerTotal1 = timerHours * 60 * 60;
          timerTotal2 = timerMinutes * 60;
          timerFinal = timerSeconds + timerTotal1 + timerTotal2;

          clock2 = $("#clock2").FlipClock(timerFinal, {
            countdown: true,
            clockFace: 'HourCounter',
            autoStart: false
          });
        });

        $("#timer-start").click(function() {
          clock2.start(function() {});
          $("#timer-form-wrapper").toggleClass("hidden");
          $("#timer-start-wrapper").toggleClass("hidden");
          $("#timer-pause-wrapper").toggleClass("hidden");
        });

        $("#timer-pause").click(function() {
          clock2.stop(function() {});
          $("#timer-form-wrapper").toggleClass("hidden");
          $("#timer-pause-wrapper").toggleClass("hidden");
          $("#timer-resume-wrapper").toggleClass("hidden");
        });

        $("#timer-resume").click(function() {
          clock2.start(function() {});
          $("#timer-form-wrapper").toggleClass("hidden");
          $("#timer-resume-wrapper").toggleClass("hidden");
          $("#timer-pause-wrapper").toggleClass("hidden");
        });

        $("#timer-form-post").click(function() {
          clock2.stop(function() {});

          if($("#timer-form-title").val() === "") {
            $("#timer-custom-error").toggleClass("hidden");
            $("#timer-form-wrapper").toggleClass("hidden");
            $("#timer-pause-wrapper").toggleClass("hidden");
            $("#timer-resume-wrapper").toggleClass("hidden");
          }

          $.ajax({
            url: "/microposts",
            type: "POST",
            data: {
              micropost: {
                title: $("#timer-form-title").val(),
                author: "<%= current_user.name %>",
                hours: timerHours,
                minutes: timerMinutes,
                seconds: timerSeconds
              }
            }
          });
        });
      });
    </script>
  </body>
</html>